# Supabase Configuration
# Supabase Paneli -> Project Settings -> API kısmından alınacak bilgiler:
VITE_SUPABASE_URL=https://YOUR_SUPABASE_PROJECT_ID.supabase.co
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
