# Supabase Configuration
# Supabase Paneli -> Project Settings -> API kısmından alınacak bilgiler:
VITE_SUPABASE_URL=https://buacspzobbiwwkepjvks.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ1YWNzcHpvYmJpd3drZXBqdmtzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg4OTc0NzgsImV4cCI6MjEwNDQ3MzQ3OH0.2WsP24n1HMV_BPAv9nYWetaTHfs57EoPpHWbXQ8ZyFw

